/* ** Root Directory ** */

:root {
    --colorBackground: #ededf6;
    --colorPrimary: #30333c;
    --colorSecondary: #93c7cd;
    --colorTertiary: #445876;
    --borderFlare: 6px solid var(--colorSecondary);
    --transHover: all 260ms ease-in-out;
}

/* ** Base CSS ** */

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ** Elements ** */

html,
body {
    background: var(--colorBackground);
    padding: 0;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--colorPrimary);
    height: 150px;
}

nav a{
    color: var(--colorSecondary);
    font-weight: bold;
    font-size: 22px;
    margin: 0 50px;
}

.name-container {
    display: flex;
    align-items: flex-start;
    text-align: right;
    justify-content: space-around;
    background: var(--colorSecondary);
    width: 500px;
}

.slogan-position {
    position: absolute;
    bottom: 62%;
    right: 120px;
}

.hero {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../images/wisla-denim5.jpg);
    background-size: cover;
    height: 25%;

}

.about-me {
    justify-content: center;
}

.about-me-lead {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 100px;
}

.vertical-line {
    justify-content: space-between;
        border-right: 6px solid #30333c;
        height: 100px;
        left: 5%;
}

.work-lead {
    position: absolute;
    text-align: center;
    font-size: 34px;
    bottom: 200px;
    left: 135px;
    margin: 20px;
}

.about-me-position {
    position: absolute;
    top: 45%;
    left: 300px;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #30333c;
    background-size: cover;
    color: white;
    margin: 15px;
    max-width: 100%;
    height: 240px;
    border: var(--borderFlare);
    position: relative;
    border: var(--borderFlare);
    transition: var(--transHover);
    border-radius: var(--borderRad);
  }
  .gallery-item:hover {
    background-image: url(../images/tucepi-surf2.jpg);
    border-color: white;
    border-radius: var(--borderRadReverse);
    border: 6px #30333c dashed;
  }

.gallery-item-position {
    position: absolute;
    bottom: 50px;
    left: 300px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
  }
  