/* ** Root Directory ** */

:root {
    --colorBackground: #ededf6;
    --colorPrimary: #30333c;
    --colorSecondary: #93c7cd;
    --colorTertiary: #445876;
    --borderFlare: 6px solid var(--colorSecondary);
}

/* ** Base CSS ** */

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ** Elements ** */

html,
body {
    background: var(--colorBackground);
    padding: 0;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--colorPrimary);
    height: 150px;
}

nav a{
    color: var(--colorSecondary);
    font-weight: bold;
    font-size: 22px;
    margin: 0 50px;
}

.name-container {
    display: flex;
    align-items: flex-start;
    text-align: right;
    justify-content: space-around;
    background: var(--colorSecondary);
    width: 500px;
}

.slogan-position {
    position: absolute;
    bottom: 350px;
    right: 120px;
}

.hero {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../images/wisla-denim5.jpg);
    display: flex;
    justify-content: center;
    background-size: cover;
    height: 500px;

}
